* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    
}

.clear {
}

/* Coloring */
    /* Negative */
    * {
        background-color: #777;
        color: #ebebeb; 
    }

    /* Positive */
    header,nav,section,h1,p,aside,footer {
        background-color: #ebebeb;
        color: #777;
    }


    
body {
    width: 960px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

header,nav,footer {
    width: 100%;
    margin-top: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40%;
    text-align: left;
}

div {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 290px;
    margin-top: 20px;
    margin-bottom: 20px;
}

section,aside {
    padding-top: 40px;
    padding-bottom: 40px;
}
section {
    width: 495px;
}
article {
    padding-top: 20px;
    padding-bottom: 1px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

aside {
    width: 465px;
    margin-left: 20px;
}

h1,p {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
h1 {
    font-size: 110%;
}


