* {
    text-align: center;
    background: #777;
    color: #ebebeb;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}
aside {
    vertical-align: middle;
    width: 460px;
}
header {

}

div {
    display: flex;
    flex-direction: row;
}

body {
    width: 960px;
}

section {
    width: 495px;
}