* {
    box-sizing: border-box;
    text-align: left;
    background: #777;
    color: #ebebeb;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    margin: auto;
}

header {
    text-align: center;
}

.clear {
    text-align: center;
}
nav {
    text-align: center;
}

body {
    width: 960px;
}

section {
    display: flex;
    flex-direction: row;
    width: 495px;
}
article {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

aside {
    vertical-align: middle;
    width: 465px;
}

h1 {
    margin: 20;
}

h2 {
    margin: 20;
}

h3 {
    margin: 20;
}

p {

}





footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}